.footer {
    background: #353535;
    padding: 20px;

    &__title {
        margin: 0;
        margin-bottom: 15px;
        color: white;
        font-family: 'Shrikhand', serif;
        font-size: 19px;
        font-weight: 400;
    }

    &__container {
        display: flex;
        flex-direction: column;
        color: white;
    }

    &__container--txt {
        color: white;
        margin-bottom: 7px;
        text-decoration: none;
        font-size: 17px;
        font-weight: 300;
    }
}
