.whitescreen {
  position: fixed; 
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% de la hauteur de l'écran */
  width: 100vw; /* 100% de la largeur de l'écran */
  background-color: $white;
  animation: fadeOut 2s forwards; /* 2s d'animation, forwards pour garder le dernier état de l'animation */
  opacity: 0.9;
}

.loader {
  position: relative;
  z-index: 2; /* au dessus de whitescreen */
  width: 150px;
  height: 150px;
  display: grid;
  border:8px solid #0000;
  border-radius: 50%; /* pour faire un cercle */
  border-color: $color-primary $color-secondary;
  animation: s6 0.5s infinite linear;
  animation: s6 0.5s infinite linear, fadeOut 2s forwards;
}

@keyframes s6 { /* animation de rotation pour loader */
  100%{transform: rotate(1turn)} /* 360° */
}

@keyframes fadeOut { /* animation de disparition pour whitescreen et loader */
  0% { opacity: 1; }
  100% { 
    opacity: 0;
    visibility: hidden;
   } 
}