@import "_mixin.scss";
@import "_variable.scss";

.restaurant-filter {
    width: 90%;
    padding: 50px 0px;
    margin: auto;

    &__button {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 1080px) {
        &__button {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
}