@import "_mixin.scss";
@import "_variable.scss";

.restaurant-card {
    background-color: darken(white, 6%); /* Lighten ou darken active l'intensité en pourcentage */

    &__title {
        margin: auto;
        padding: 25px 25px;
        width: 90%;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;

    &__article {
        margin: 0px 0px 30px 0px;
        padding: 0px 0px 15px 0px;
        background: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0px 3px 15px 0px #0000001A;
        position: relative;
        width: 100%;
    }

    &__img {
        width: 100%;
        height: 180px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    &__img--logonew {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            margin: 0;
            width: 80px;
            height: 30px;
            border-radius: 2px;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 35%);
            top: 15px;
            right: 15px;
            font-weight: 600;
            font-size: 15px;
    }

    &__info {
        margin: 10px;
    }

    &__info--title {
        margin: 0;
    }

    &__info--txt {
        margin: 0;
    }

    &__heart {
        position: absolute;
        bottom: 40px;
        right: 20px;
        margin: 0;
        border: none;
    }

    @media (min-width: 1080px) {

        justify-content: space-between;

        &__article {
            width: 48%;
        }
        
    }
}